// @import '~bootstrap/scss/bootstrap';

.container {
  width: 80%;
  height: 200px;
  background: aqua;
  margin: auto;
  padding: 10px;
}

.left {
  width: 15%;
  height: 200px;
  background: red;
  float: left;
}

.right {
  margin-left: 15%;
  height: 200px;
  background: blue;
}
